:root{
  --html-color:#222946;
  --container-color:#1c2136;
  --container-border-color:#080a27;
  --font-color: seagreen;
  --widgets-pad-background:#323131;
  --widgets-pad-box-shadow: 1px 1px 25px 0px black inset, 1px -1px 11px 0px black inset;
  --widgets-button-background:#897f7f;
  --widgets-button-hover-background:#897f7f;
  --widgets-button-border-radius:3px;
  --widgets-button-box-shadow: 1px 1px 0px 0px rgb(0 0 0) inset, -1px 1px 0px 0px black inset, 1px -1px 0px 0px black inset, -1px -1px 0px 0px black inset;
  --button-img-hover-filter:invert(92%) sepia(1%) saturate(2865%) hue-rotate(314deg) brightness(78%) contrast(92%);
  --button-img-filter: none;
}

html{
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: floralwhite;
  background: whitesmoke;
  background: gainsboro;
  background: dimgrey;
  background: var(--html-color);
  overflow: hidden;
}
/* #theme_options{
  outline: none;
  color: var(--font-color);
  background: var(--html-color);
  height: 1.5rem;
  border: black 1px solid;
  border-radius: 5px;
  box-shadow: 1px 1px 2px black inset, 1px -1px 2px black inset;
} */
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

/* #settings{
  width: 80%;
  display: flex;
  justify-content: end;
  padding: 5px;
  margin: 5px;
} */

#operate{
  display: flex;
}

a {
  color: #00B7FF;
}



#container{
  border-radius: 10px;
  border: var(--container-border-color) 5px solid;
  display: flex;
  align-items: left;
  justify-content: center;
  pointer-events: none;
  background: var(--container-color);
}

#widgets{
  border-radius: 5px;
  padding: 3px;
  margin-right: 5px;
  width: min-content;
  height: fit-content;
  background-color: var(--widgets-pad-background);
  box-shadow: var(--widgets-pad-box-shadow);
}

#widgets button{
  padding: 5px;
  border: none;
  border-radius: var(--widgets-button-border-radius);
  box-shadow: var(--widgets-button-box-shadow);
  width: 2rem;
  height: 2rem;
  margin: 5px;
  background-color: var(--widgets-button-background);
  cursor: pointer;
}
#widgets button:hover{
  background-color: var(--widgets-button-hover-background);
}
#widgets button img{
  filter: var(--button-img-filter);
}
#widgets button img{
  filter: var(--button-img-filter);
}
.widgetsButtonImgNight:hover {
  filter: invert(92%) sepia(1%) saturate(2865%) hue-rotate(314deg) brightness(78%) contrast(92%) !important;
}
.widgetsButtonImgDay:hover{
  filter: var(--button-img-filter);
}

#draw{
  background-color: orange;
}
/* #clear img:hover{
  filter: invert(92%) sepia(1%) saturate(2865%) hue-rotate(314deg) brightness(78%) contrast(92%);
} */
/* #theme:hover{
  background-color: var(--theme-button-hover-background);
} */
#clear:active{
  background-color: black;
}

#download:active{
  background-color: black;
}

#import:active{
  background-color: black;
}

img{
  max-width:100%;
  max-height:100%;
}
#lines {
  box-sizing: border-box;
  pointer-events:initial
}
#lines>g  {
  pointer-events: none;
}
#lines circle {
  cursor: grabbing;
  pointer-events:initial
}
#lines path {
  cursor: grabbing;
  pointer-events:initial
}
line{
  stroke:rgb(255,0,0);stroke-width:2;
}

.bbox{
  cursor: grabbing;
}

#snackbar {
  /* visibility: hidden; */
  min-width: 250px;
  margin-left: -125px;
  background-color: rgb(95 209 153);
  color: #fff;
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 50%;
  top: 30px;
  font-size: 17px;
  opacity: 0;
  box-shadow: 3px 3px 5px #ccc, -3px 3px 5px #ccc, 3px -3px 5px #ccc, -3px -3px 5px #ccc;
}

#snackbar.show {
  /* visibility: visible; */
  /* -webkit-animation: fadein 0.5s, fadeout 0.5s; */
  animation: inout 2s ease;
}


@keyframes inout{
  0% {
    top: 30px;
    opacity: 0;
  }
  30% {
    top:100px;
    opacity: 1;
  }
  100% {
    top:100px;
    opacity: 0;
  }
}

/* 
@keyframes fadein {
  from {top: 0; opacity: 0;}
  to {top: 30px; opacity: 1;}
}

@keyframes fadeout {
  from {top: 30px; opacity: 1;}
  to {top: 0; opacity: 0;}
} */